body{
    font-family: "Roboto", sans-serif;
    color: rgb(123, 125, 129);
    line-height: 1.7;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color:black
}
a{
    color: black;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}
a:hover{
    color:#ffa500 ;

}
img{
    min-width: 100%;
}

/* button */
.btn{
    border: none;
     padding: 14px 38px;
}
.btn-navbar{
    color: aliceblue;
    font-weight: bold;
    background-color: #ffa500;
    border-color: #ffa500;
}
.btn-navbar:hover{
    background-color: transparent;
    background-color: #ce8d15;
    border-color: #d69825;
    color: aliceblue;

}